.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1em;
  margin: auto;
  text-align: center;
}

h1 {
  display: inline-block;
  font-family: "Source Code Pro", monospace;
  letter-spacing: 0.2em;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  transition: letter-spacing 0.8s;
  will-change: letter-spacing;
  border-bottom: 1px solid #000;
}

span {
  overflow: hidden;
  display: inline-block;
  margin-bottom: -1px;
  vertical-align: bottom;
  transition: letter-spacing 0.8s;
  will-change: letter-spacing;
  line-height: 1em;
  color: #ddd;
  border-bottom: 1px solid #fff;
}

h1.isActive {
  letter-spacing: 0.1em;
}
h1.isActive span {
  letter-spacing: -1.4em;
}
