.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 2em;
  left: 0;
  height: 1em;
  margin: auto;
  text-align: center;
}

em {
  font-style: normal;
  font-weight: 200;
  margin-right: 0;
  transition: margin-right 0.8s;
}

h1 {
  display: inline-block;
  padding-bottom: 0.2em;
  font-family: "Source Code Pro", monospace;
  letter-spacing: 0.1em;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  transition: letter-spacing 0.8s;
  will-change: letter-spacing;
  text-shadow: 0 2px 2px #555;
}

span {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  transition: letter-spacing 0.8s;
  will-change: letter-spacing;
  letter-spacing: -1.4em;
  line-height: 1em;
}

h1.isActive {
  letter-spacing: 0.2em;
}
h1.isActive em {
  margin-right: 0.5em;
  transition: margin-right 0.8s;
}
h1.isActive span {
  letter-spacing: 0.2em;
  transition: letter-spacing 0.8s;
}
